:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: #24292e;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  margin-bottom: 40px;
  align-items: center;
}

main {
  display: block;
  box-sizing: border-box;
}

li {
  list-style: none;
  display: inline;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  max-width: 1600px;

  padding-right: 24px;
  padding-left: 24px;

  margin-right: auto;
  margin-left: auto;

  box-sizing: border-box;
}

article {
  padding-right: 16px;
  padding-left: 16px;

  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: center;
}

a:link {
  text-decoration: none;
  justify-content: space-between;
}

a:link :visited {
  text-decoration: none;
}

nav {
  color: #24292e;
  max-width: 1600px;
  width: auto;
  align-items: center;
}

header:a:link {
  color: grey;
  text-decoration: none;
}

img {
  border: 1px #e1e4e8 solid;
  border-radius: 9px;
}
